:root {
  --cor-fundo: #f4f7f6;
  --cor-container: #ffffff;
  --cor-primaria: #007ACC;
  --cor-primaria-hover: #005f9e;
  --cor-texto: #333333;
  --cor-borda: #dddddd;
  --cor-sucesso: #2ea44f;
  --cor-erro: #d73a49;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

button {
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}